RewriteEngine on
RewriteRule ^connexion$ view/connexion.php [L]

ErrorDocument 404 /view/error404.php

<Files bdd.php> 
    Deny From All
</Files>
<Files configuration.php> 
    Deny From All
</Files
